[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/tobanteGaming/Box2D-cmake.git
[submodule "external/angelscript"]
	path = external/angelscript
	url = https://github.com/IngwiePhoenix/AngelScript
[submodule "external/efsw"]
	path = external/efsw
	url = https://github.com/SpartanJ/efsw
[submodule "external/cegui"]
	path = external/cegui
	url = https://github.com/cegui/cegui
