[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
