CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
windows/build
windows/assets
windows/csharp-lib
windows/Game
windows/mono
windows/shaders
windows/bin
windows/assets2
windows/fonts
windows/shader
cmake-build-debug
*.hdr
./assets/skybox/*.hdr
*.zip
./assets/models/luffy
./assets/models/luffy/*